* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#header {
    /*position: absolute;*/
    /*z-index: 2;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    background: #CD235C;
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#footer {
    /*position: absolute;*/
    /*z-index: 2;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 10vh;
    background: #444;
    padding: 0;
    border-top: 1px solid #444;
}

#wrapper {
    /*position: absolute;*/
    /*z-index: 1;*/
    /*top: 45px;*/
    /*bottom: 48px;*/
    /*left: 0;*/
    width: 100%;
    height: 80vh;
    background: #ccc;
    overflow: hidden;
}

.content{
    height: 60vh;
    line-height: 60vh;
    font-size: 36px;
    text-align: center;
}
.button-group{
    display: flex;
    height: 20vh;
    line-height: 20vh;
}
.button{
    flex: 1;
    text-align: center;
    border-radius: 5%;
    background: red;
    margin: 5vh 5vw;
    line-height: 11vh;
    font-size: 24px;
    color: white;
}
.button.button-disabled {
    opacity: 0.2;
}
