* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
    font-size: 100px;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#App{
    max-width: 200vh;
    height: 100vh;
    background: url(../lib/bg.jpg) no-repeat;
}
#header {
    /*position: absolute;*/
    /*z-index: 2;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    /*background: #CD235C;*/
    padding: 0;
    color: #eee;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

#footer {
    /*position: absolute;*/
    /*z-index: 2;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 10vh;
    /*background: #444;*/
    padding: 0;
    border-top: 1px solid #444;
}

#wrapper {
    /*position: absolute;*/
    /*z-index: 1;*/
    /*top: 45px;*/
    /*bottom: 48px;*/
    /*left: 0;*/
    position: relative;
    width: 100%;
    height: 90vh;
    /*background: #ccc;*/
    overflow: hidden;
}

.content{
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 60vh;
    line-height: 60vh;
    text-align: center;
    font-size: 3rem;
    color: #200003;
}
.button-group{
    display: flex;
    flex-direction: column;
    height: 60vh;
    line-height: 20vh;
    width: 20vw;
}
.button{
    flex: 1;
    text-align: center;
    border-radius: 5%;
    background: #d4141b;
    margin: 5vh 5vw;
    font-size: 1rem;
    color: white;
    line-height: 5vh;
    display: inline-block;
    height: 5vh;
    width: 10vw;
}
.button.button-disabled {
    opacity: 0.2;
}
